<!DOCTYPE html>
<html>
<head>
  <title>HelpQ</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
</head>
<body>
	<div class="navbar">
		<div class = 'navbar-inner'>
			<div class = "container">
				<a class='brand'href='#'>HelpQ</a>
					<div class ="nav-collapse collapse">
				<ul class ="nav">
					<li class="<% 'active' if @nav == :home %>">
						<%= link_to 'Home', :root %>
					</li>
					<% if logged_in? %>
						<% if current_ticket == nil %>
							<li class="<%= 'active' if @nav == 'my/tickets#show' %>">
								<%= link_to "Create Help Request", new_my_ticket_path %>
							</li>
						<% end %> 
						
						<li class="<%= 'active' if @nav == 'my/tickets#show' %>">
							<% if current_ticket != nil %>
								<%= link_to "My Help Request", my_ticket_path(current_ticket) %>
							<% end %>
					<% end %>

				</ul>

				<div class="pull-right">
        			<% if logged_in? %>
          				<%= link_to 'Logout', :session, :method => :delete, class: 'btn' %>
       				<% else %>
          				<%= link_to 'Sign Up', [:new, :user], class: 'btn btn-primary' %>
          				<%= link_to 'Sign In', [:new, :session], class: 'btn btn-success' %>
        			<% end %>
      			</div>
			</div>
		</div>
	</div>

	<div class="container">
	    <% if flash[:notice] %>
	      <div class="alert alert-success">
	        <%= flash[:notice] %>
	      </div>
	    <% elsif flash[:alert] %>
	      <div class="alert alert-error">
	        <%= flash[:alert] %>
	      </div>
	    <% end %>

	    <div class = "content">

			<%= yield %>
		</div>
	</div>	

</body>
</html>
